

@media screen and (max-width:425px) {
    
    .banner-section{
        background: none;
    }
    
    .nav-container {
        flex-direction: column;
    
    }
    .nav-items-container {
        flex-direction: column;
        width: 100%;
        margin-bottom: 10px;
    }

    .logo-container {
        
        width: 100%;
        align-items: center;
        justify-content: center;
        margin-bottom: 10px;
    }
    .banner-container {
       max-width: 1400px;
       flex-direction: column-reverse;
       margin-top: 150px;
       margin-bottom: 50px;
    
       margin-left: 30px;
       margin-right: 30px;
      
    }
    .banner-text {
        height: 100%;
        background: url("images/goat.bkgrnd.png"); 
        fill: linear-gradient(223deg, rgba(140, 87, 238, 0.03) 0%, rgba(241, 68, 174, 0.03) 100%);
        background-blend-mode: overlay;
        background-position:left;
        background-repeat: no-repeat;
        background-size:cover;
         /* padding-top: 30px; */
         padding-left: 50px;
        

        width: 100%;
        margin-left: 10px;
        padding-right: 10px;

        /* width: 100%;
        height: 100%;
        object-fit: cover;
        */
    }
    .banner-img {
        width: 100%;
        padding: 30px;
        /* margin-top: 100px; */
        
    }
    .banner-img img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        
    }
    .banner-text h1 {
        font-size: 25px;
    }
    .banner-text h2 {
        font-size: 50px;
        margin-bottom: 8px;
        margin-top: 10px;
    
        background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .text-content li {

        font-size: 12px;
    }
    .banner-text .banner-btn{
        display: flex;
    }
    .banner-btn-pink {
        border-radius: 20px;
        background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
        padding: 8px 14px;

        margin-right: 10px;
    }
    
    .banner-btn-blue {
        border-radius: 20px;
        padding: 8px 14px;
    }
   


    .games-video-container{
        padding-top: 150px;
        margin-left: 20px;
        margin-right: 20px;
    }
    .popular-videos {

        flex-direction: column; 
        margin-left: 20px;
        margin-right: 20px;
        justify-content: center;
        align-items: center;
    }
    .games-video-container h1 {
        color: #0B0223;
        text-align: center;
        font-size: 28px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-bottom: 10px;
    }
    .games-video-container p {
        color: #534C64;
        text-align: center;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        margin-bottom: 20px;
    }



   
.talking-angel-section {
    max-width: 1400px;
    margin-left: 48px;
    margin-right: 48px;


    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.talking-angel-text {
    width: 100%;
    align-items: center;
    
    
}

.talking-angel-img {

    width: 100%;
    height: 100%;
    object-fit: cover;
    padding: 10px 10px 10px 10px;

}


.talking-angel-img .img1 {
    
   
}

.talking-angel-text h1 {
    
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.talking-angel-text p {
    color: #534C64;
    text-align: right;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    padding-top: 20px;
}





    
.play-icon-container{
    position: relative;
    display: inline-block;
    /* overflow: hidden; */
}
.play-icon{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    background: url(./images/play-icon.png) no-repeat center;
    background-size: cover;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    cursor: pointer;
}
.watch-now{
    position: absolute;
    bottom: 110px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 16px;
    color: #FFF;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 8px 16px;
    border-radius: 20px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.play-icon-container:hover .play-icon, .play-icon-container:hover .watch-now{
    opacity: 1;
}
.play-icon-container img:hover{
    opacity: 60%;
}






    .clickable-icon {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;
        gap: 8px;
        width: 120px;
        height: 40px;
        cursor: pointer;
    }
    
.clickable-icon span {
    font-size: 10px;
    font-weight: 300;
}

.clickable-icon img {
    width: 25px;
    height: 25px;
}

.clickable-icon:hover {
    border: 2px solid #FF42A5;
    margin-left: 0;
    padding-left: 0;
    margin: 5px;
    color: chartreuse;
    border-radius: 20px;
    background: transparent;


}

.clickable-icon-section {
    max-width: 425px;
    margin-left: 3px;
    margin-right: 3px;

}

.clickable-icons {
    display: flex;
    flex-wrap: wrap;
    place-content: center;
    row-gap: 3px;
    column-gap: 3px;
}




}




@media screen and (min-width:425px) and (max-width:768px) {
    .nav-container {
        /* flex-direction: column; */
        display: grid;
        grid-template-columns: 2fr;
    
    }
    .nav-items-container {
        width: 100%;
        margin-bottom: 20px;
    }

    .banner-img img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .logo-container {
        width: 100%;
        align-items: center;
        justify-content: center;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    .banner-text h1 {
        font-size: 25px;
    }
    .banner-text h2 {
        font-size: 50px;
        margin-bottom: 8px;
        margin-top: 10px;
    
        background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .text-content li {

        font-size: 12px;
    }
    .banner-btn-pink {
        border-radius: 30px;
        background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
        padding: 8px 16px;

        margin-right: 10px;
    }
    
    .banner-btn-blue {
        border-radius: 30px;
        padding: 8px 16px;
    }


    
    .talking-angel-text {
        width: 100%;
        text-align: center;
        padding-right: 15px;
    }

    .talking-angel-section {
        flex-direction: column;
        margin-top: 70px;
    }
    .talking-angel-text {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .talking-angel-img {
        /* width: 100%; */

        width: 100%;
        height: 100%;
        object-fit: cover;
        margin: 0 auto;
    
    }
    .talking-angel-img .img2 {
        margin-top: -150px;
        margin-left: -75px;
        width: 150px;
        height: 170px;
    }
    .talking-angel-text h1 {
        text-align: center;
        font-size:40px;
        font-style: normal;
        font-weight: 600;
        line-height: 46px;
        margin-top: 100px;
    }
    
    .talking-angel-text p {
        color: #534C64;
        text-align: center;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px;
        padding-top: 20px;
    }



    .clickable-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        width: 200px;
        height: 50px;
        cursor: pointer;
    
    }
    
    .clickable-icon span {
        font-size: 16px;
        font-weight: 700;
    }
    
    .clickable-icon img {
        width: 35px;
        height: 35px;
    }
    
    .clickable-icon:hover {
        border: 2px solid #FF42A5;
        margin-left: 0;
        padding-left: 0;
        margin: 5px;
        color: chartreuse;
        border-radius: 30px;
        background: transparent;
    
    
    }
    
    .clickable-icon-section {
        max-width: 768px;
        margin-left: 10px;
        margin-right: 10px;
 
    }
    
    .clickable-icons {
        display: flex;
        flex-wrap: wrap;
        place-content: center;
        row-gap: 40px;
        column-gap: 30px;
    }

   
    
   
}