
/* Responsive styles for mobile device */

@media screen and (max-width:425px) {
    

    /* nav section responsive starts here */
    
    nav{
        box-shadow: none;
    }
    .nav-container, .nav-items-container{
        flex-direction: column;
    }
    .logo-container {
        display: flex;
        align-items: center;
        justify-content:center;
    }
    .nav-items-container a, button{
        font-size: 14px;
        font-weight: 400;

    }

    .follow-section {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        width: 230px;
        height: 46px;
      
    }
    .fa-brands {
        font-size:18px;
        color: red;
        margin: auto;
        align-content: center;
    }
    .fa-tiktok, .fa-brands{
        padding-right: 15px;
    }
     /* nav section responsive ends here */

     /* banner section responsive starts here */
    .banner-section{
        background-image: none;
    }

     .banner-container {
        display: flex;
        flex-direction: column-reverse;
        align-content: center;
        justify-content: center;
        margin-top: 20px;
        
     }
     .banner-text{
        width: 100%;
     }
     .banner-img{
        width: 100%;
     }


     /* banner section responsive ends here */
}





/* Responsive styles for tablet */

@media screen and (max-width:768px) {

     /* nav section responsive starts here */

    nav {
        box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    }
    .nav-container{
        flex-direction: column;
    }
    .nav-items-container{
        width: 100%;
        justify-content: center;
        gap: 20px;
        align-items: center;
        margin-bottom: 10px;
    }
    .nav-items-container button {
        width: 200px;
        height: 46px;   
    }
    .nav-items-container a, button{
        font-size: 14px;
        font-weight: 400;
    }

    .logo-container {
        align-items: center;
        justify-content:center;
    }
    .follow-section {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        width: 200px;
        height: 46px;
    }
    .fa-brands {
        font-size:18px;
        color: red;
        margin: auto;
        align-content: center;
    }
    .fa-tiktok, .fa-brands{
        padding-right: 20px;
    }
     /* nav section responsive ends here */


}
