* {
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
}

body {}


/* nav section styles starts header */

nav {
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.nav-container {
    max-width: 1400px;
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFF;
    margin: 0 auto;
    margin-left: 90px;
    margin-right: 90px;

}

.logo-container {
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: flex-start;
}

.logo-container img {
    /* border: 2px solid violet; */
    width: 86.041px;
    height: 30px;
    margin-right: 20px;
}

.logo-container p {
    /* border: 2px solid greenyellow; */
    font-size: 40px;
    font-weight: 700;
    color: #0B0223;
}

.gamerz {
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* border: 2px solid pink; */
}

.nav-items-container {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    gap: 30px;
    align-items: center;
}

.nav-items-container a,
button {
    /* border: 2px solid hotpink; */
    color: #3C354F;
    text-align: center;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;
}

.follow-section {
    /* border: 3px solid khaki; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 260px;
    height: 50px;
    border: none;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
}

.follow-section button {
    /* border: 3px fuchsia; */
    border: none;
    background: none;
}

.fa-brands {
    /* border: 2px solid fuchsia; */
    font-size: 24px;
    color: red;
}

.fa-tiktok {
    /* border: 3px #4EC5F7; */
    color: black;
    font-size: 24px;
}

/* nav section styles ends header */

/* banner section styles starts here */
.banner-section {
    height: 100vh;
    background: url("images/goat.bkgrnd.png");
    fill: linear-gradient(223deg, rgba(140, 87, 238, 0.03) 0%, rgba(241, 68, 174, 0.03) 100%);
    background-blend-mode: overlay;
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;

}

.banner-container {
    max-width: 1400px;
    margin-left: 90px;
    margin-right: 90px;
    margin-top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    height: 100vh;


}

.banner-text {
    width: 50%;
    text-align: left;



}

.banner-text h1 {
    /* margin: 0; */
    color: #0B0223;
    text-align: left;
    font-size: 37px;
    font-style: normal;
    line-height: normal;
    text-transform: uppercase;
}

.banner-text h2 {
    margin: 0;
    text-align: left;
    font-size: 70px;
    font-style: normal;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 10px;
    margin-top: 10px;

    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text-content li {
    list-style: none;
    color: #534C64;
    text-align: left;
    font-size: 16px;
    padding-top: 10px;
    line-height: normal;
    text-transform: lowercase;
}

.banner-btn {
    margin-top: 20px;
}

.banner-btn-pink {
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    padding: 10px 25px;
    border: none;
    margin-right: 15px;
    color: white;
}

.banner-btn-blue {
    border-radius: 48px;
    background: #4EC5F7;
    padding: 10px 25px;
    border: none;
    color: white;
}

.banner-img {
    width: 50%;
    height: auto;
}

.banner-img img {
    /* width: 100%;
    height: auto;
    /* height: 100%; */
    /* border-radius: 10px; */

    width: 100%;
    height: 100%;
    object-fit: cover;
}

.text-content {}

/* banner section styles starts here */

/* Online Games Funny Videos section starts here */

.games-video-container {
    max-width: 1400px;
    margin-left: 90px;
    margin-right: 90px;
    margin-top: 80px;
}

.games-video-container h1 {
    color: #0B0223;
    text-align: center;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 10px;
}

.funny-font {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.games-video-container p {
    color: #534C64;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 30px;
}


.popular-videos {

    display: flex;
    flex: 1 0 50%;
    gap: 10px;
}

.videos {
    width: 300px;
}

.popular-videos img {

    width: 100%;
    height: 100%;
    object-fit: fill;
}

.videos p {
    color: #534C64;
    font-family: Work Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 23px;
    text-align: left;
    margin-top: 10px;
}

/* Online Games Funny Videos section ends here */

/* talking angel section styles starts here */

.talking-angel-section {
    max-width: 1400px;
    margin-left: 90px;
    margin-right: 90px;
    margin-top: 100px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.talking-angel-text {
    width: 50%;
    text-align: right;
    padding-right: 150px;
}

.talking-angel-img {
    width: 50%;

}

.talking-angel-img .img2 {
    margin-top: -260px;
    margin-left: -140px;
    width: 280px;
    height: 300px;
}

.talking-angel-img .img1 {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.talking-angel-text h1 {
    text-align: right;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    text-align: right;
}

.talking-angel-text p {
    color: #534C64;
    text-align: right;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    padding-top: 20px;
}

.play-instantly {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* talking angel section styles ends here */

/* clickable icon section styles starts here */

.clickable-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 200px;
    height: 50px;
    cursor: pointer;

}

.clickable-icon span {
    font-size: 16px;
    font-weight: 700;
}

.clickable-icon img {
    width: 45px;
    height: 45px;
}

.clickable-icon:hover {
    border: 2px solid #FF42A5;
    margin-left: 0;
    padding-left: 0;
    margin: 5px;
    color: chartreuse;
    border-radius: 30px;
    background: transparent;


}

.clickable-icon-section {
    max-width: 1400px;
    margin-left: 90px;
    margin-right: 90px;
    margin-top: 100px;
    min-height: 250px;

}

.clickable-icons {
    display: flex;
    flex-wrap: wrap;
    place-content: center;
    row-gap: 40px;
    column-gap: 30px;
}

/* clickable icon section styles ends here */

/* footer section styles starts here */
footer {
    width: 100%;
    background-color: #0B0223;
}

.footer-section {
    min-height: 100vh;
    margin-left: 90px;
    margin-right: 90px;
    text-align: center;
}
.footer-logo{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding-top: 60px;
}


.footer-logo img {
    width: 86.041px;
    height: 30px;
    margin-right: 20px;
}

.footer-logo p {
    font-size: 40px;
    font-weight: 700;
    color: white;
}

.gamerz2 {
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}







.footer-content1 {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;

    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    margin-top: 50px;
    margin-bottom: 40px;
    line-height: normal;
    cursor: pointer;
}
.footer-content1 p:hover{
    color: #F948B2;
}

.social-link {
    color: white;
    width: 40px;
    height: 40px;
    font-size: 30px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 30px;
    
}


.footer-content3 {
    display: flex;
    justify-content: center;
    color: white;
    gap: 50px;
    font-size: 13px;
    margin-bottom: 20px;
    cursor: pointer;
}
.footer-content3 p:hover{
    color: #F948B2;
}

.copy-right {
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-size: 12px;
    font-style: normal;
    line-height: normal;
    margin-bottom: 50px;
}

/* footer section styles ends here */